.visually-hidden {
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-family: "Prata";
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #303030;
}
