//Normalize styles
@import "vendor";

//Fonts
@import "fonts";

//CSS variables - colors
$mainBlack: #372e11;
$mainWhite: #fffbed;
$mainYellow: #ffe182;

//CSS variables - screens

$desktop-big: 1600px;
$desktop-low: 1300px;
$laptop: 1024px;
$tablet: 768px;
$phone-low: 360px;

//CSS variables - transition

$defaultTransition: 0.1s linear;

//Main styles
* {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Blocks

@import "./blocks/core";
@import "./blocks/header";
@import "./blocks/flowers";
@import "./blocks/form";
@import "./blocks/footer";
